.login-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.container-title {
    padding-bottom: 50px;
    text-align: center;
}

form {
    width: 100%;
    max-width: 400px;
}

.default-input {
    width: 100%;
    margin-bottom: 20px;
}

.login-button {
    margin-top: 30px;
}

.login-find-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-find-button {
    position: relative;
    padding: 0;
    padding-left: 9px;
    background-color: transparent;
    min-width: 91px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--1-GRAY-700);
    text-align: left;
}

.login-find-button:before {
    content: '';
    width: 1px;
    height: 12px;
    background-color: var(--1-GRAY-300);
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
}

.login-find-button.font-right:before {
    display: none;
}

.font-right{
    min-width: 90px;
    text-align: right;
    padding-left: 0;
    padding-right: 8px;
}

.login-signup-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 72px;
}

.login-signup-line span {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--1-GRAY-900);
}

.signup-button {
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: var(--1-GRAY-900);
}

.login-find-button:hover,
.login-find-button:active,
.signup-button:hover,
.signup-button:active {
    opacity: 0.7;
}
