/* 전체 영역 */
.content-area {
    margin: 30px;
}

/* 마이페이지 컨테이너 */
.content-area .myPage-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--1-GRAY-200);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* 탭 버튼 영역 */
.content-area .myPage-container .tab-button-container {
    display: flex;
    justify-content: space-around;
}

.content-area .myPage-container .tab-button-container .tab-button {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--1-GRAY-400);
    color: var(--1-GRAY-50);
    cursor: pointer;
    transition: all 0.3s ease;
}

.content-area .myPage-container .tab-button-container .tab-button:hover {
    background-color: var(--1-MAIN-HOVER);
}

.content-area .myPage-container .tab-button-container .tab-button.active {
    background-color: var(--1-MAIN);
    color: var(--1-GRAY-0);
    font-weight: 700;
}

/* 탭 내용 영역 */
.content-area .myPage-container .tab-content-container {
    height: 370px;
    margin: 35px;
    padding: 25px;
    background-color: var(--1-GRAY-0);
    border-radius: 12px;
}

.content-area .myPage-container .tab-content-container .tab-content {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

.content-area .myPage-container .tab-content-container .tab-content.active {
    display: block;
}

/* 개인정보 항목 */
.content-area .myPage-container .tab-content-container .tab-content .info-item {
    margin: 20px;
    font-size: 16px;
    color: var(--1-GRAY-900);
}

/* 하단 버튼 영역 */
.content-area .myPage-container .tab-content-container .tab-content .button-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.content-area .myPage-container .tab-content-container .tab-content .button-area .update-button {
    background-color: var(--1-GRAY-200);
    color: var(--1-GRAY-900);
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.content-area .myPage-container .tab-content-container .tab-content .button-area .update-button:hover {
    background-color: var(--1-GRAY-500);
}

/* 애니메이션 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
