.performance_container {
    width: 1200px;
    border: 1px solid black;
}

.performance_header {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.performance_header_title {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 20px 15px 20px;
}

.performance_header_ranking {
    font-size: 15px;
    line-height: 18px;
    margin-left: 20px;
}

.performance_body {
    margin: 20px;
    display: flex;
}

.performance_body_image {
    border: 1px solid black;
    min-width : 450px;
    max-width : 450px;
    min-height : 600px;
    max-height : 600px;
    margin-right: 100px;
}
.performance_body_image  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.performance_body_info_detail_category {
    display: flex;
}

.performance_body_info_detail_category p {
    padding : 0 50px 20px 0;
    font-size: 15px;
    line-height: 18px;
    min-width : 120px;
    box-sizing: border-box;
}

