.reservation-container {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    max-width : 1200px;
    min-height: 800px;
    max-height : 800px;
}

.tab-content.active {
    padding-left: 100px;
    display: block;
}

.tab-content {
    display: none;
}


.info {
    display: flex;
    justify-content: left;
    color : #9E9E9E;
    font-size: 18px;
    line-height: 25px;
    margin : 50px 0 20px 0;
}

.date-wrap .info span {
    color : #FF3B30;
    font-weight: bold;
    margin : 0 10px 0 0;
}

.date-wrap {
    margin: 30px 30px 30px 50px;
}

/* 달력 css */
.calendar {
    width: 504px;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    line-height: 31px;
    font-weight: 600;
    color: var(--1-GRAY-800);
    padding: 0 34px;
    margin-bottom: 42px;
}

.calendar-header .calendar-header-prev,
.calendar-header .calendar-header-next {
    padding: 0;
    width: 31px;
    height: 31px;
    cursor: pointer;
}
.calendar-header .calendar-header-prev:hover,
.calendar-header .calendar-header-next:hover {
    opacity: 0.8;
}
.calendar-header .calendar-header-prev {
    background: url("../../images/calendar-prev-disabled.png") no-repeat center/100%;
}
.calendar-header .calendar-header-next {
    background: url("../../images/calendar-next-disabled.png") no-repeat center/100%;
}
.calendar-header .calendar-header-prev:disabled {
    background-image: url("../../images/calendar-prev-disabled.png");
}
.calendar-header .calendar-header-next:disabled  {
    background-image: url("../../images/calendar-next-disabled.png");
}

.calendar-body {
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 12px;
}

.days .day {
    width: 72px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: var(--1-GRAY-800);
    text-align: center;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 10px;
}
.dates .date-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 72px;
    height: 50px;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
}
.dates .date-area:after {
    display: none;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: var(--1-GRAY-100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dates .date-area.inactive:hover:after {
    display: none;
}
.dates .date-area:hover:after {
    display: block;
}
.dates .date-area .date {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: var(--1-GRAY-800);
    z-index: 1;
    cursor: pointer;
}

.dates .date-area.inactive .date {
    color: var(--1-GRAY-400);
    cursor: default;
}
.dates .date-area.today .date {
    font-weight: bold;
}
.dates .date-area.sunday .date {
    color: var(--1-ERROR);
}
.dates .date-area.saturday .date {
    color: #3D85B9;
}
.dates .date-area.selected .date {
    font-weight: 600;
    color: var(--1-GRAY-0);
}
.dates .date-area.selected:after  {
    display: block;
    background: var(--1-MAIN) !important;
    color: var(--1-GRAY-0) !important;
    font-weight: bold;
}
/*****************************************/


/* 날짜 선택 입력 값 */
.choice-date {
    border : 1px solid black;
    border-radius: 10px;
    width: 470px;
    padding-left: 20px;
    padding-top : 10px;
}

.info-time {
    font-size: 18px;
    font-weight: bold;
}

.info-caster {
    display: flex;
    padding: 10px 0;
    font-size: 18px;
    margin-right: 10px;
    color: black;
}

.info-caster-list {
    color : #616161;
}

.seat.reserved {
    background-color: #ccc;
    cursor: not-allowed;
}

.seat.reserved input {
    display: none;
}


/*****************************************/


/* 공연 정보*/
.reservation-info {
    border-left: 1px solid #BDBDBD;
    margin : 30px 30px 50px 0;
    width: 350px;
}
/* 예약 확정 시*/
.reservation-info.final {
    width: 500px;
}

.performance-info {
    border-bottom : 1px solid #BDBDBD;
    display: flex;
    margin: 20px;
}

.performance-info-img {
    min-width : 100px;
    max-width:  100px;
    min-height : 150px;
    max-height:  150px;
    margin: 0 20px 20px 0;
}

.performance-info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.performance-info-content {
    margin-bottom : 20px;
}

.performance-info-content-title {
    font-size: 20px;
    font-weight: bold;
}

.performance-info-content-text {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    color : #757575;
    margin : 20px 0;
}

.reservation-detail {
    border-bottom : 1px solid #BDBDBD;
    margin: 0 20px 20px 20px;

}

.reservation-choice {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.reservation-choice-detail {
    display: flex;
    margin: 10px 0;
}

.reservation-choice-detail-title {
    font-size: 16px;
    line-height: 19px;
    color : #757575;
}

.reservation-choice-detail-content {
    font-size: 16px;
    line-height: 19px;
    margin-left: 20px;
}

.reservation-price {
    border-bottom : 1px solid #BDBDBD;
    margin: 0 20px 20px 20px;
}

.reservation-price-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.reservation-price-detail {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.reservation-price-detail-title {
    font-size: 16px;
    line-height: 19px;
    color : #757575;
}

.reservation-price-detail-content {
    font-size: 16px;
    line-height: 19px;
    margin-left: 20px;
}

.final-price {
    margin : 0 20px;
}

.final-price-detail {
    height: 50px;
    border: 1px solid #BDBDBD;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.final-price-money {
    padding : 10px;
    font-size : 16px;
    font-weight: 500;
    line-height: 20px;
}

.choice-btn {
    display: flex;
    justify-content: space-between;
    padding : 20px;
    gap : 20px;
}

.prev-btn {
    width: 50%;
    height: 50px;
    background-color: #757575;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    display: none;
    cursor: pointer;
    border: none;
}

.prev-btn:hover{
    background-color: #616161;
}


.prev-btn.active{
    display: block;
}


.next-btn {
    width: 50%;
    height: 50px;
    background-color: #FD9620;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}


.next-btn:hover{
    background-color: #E88619;
}


.choice-btn .next-btn:only-child,
.choice-btn.next-btn[style*="width:100%"] {
    width: 100% !important;}

.tab-content {
    display: none;
}


.tab-content.active{
    padding-left: 100px;
    display: block;
}


.stage-wrap {
    width: 574px;
}
.stage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    width: 100%;
    height: 55px;
    font-size: 26px;
    line-height: 31px;
    font-weight: 600;
    color: var(--1-GRAY-0);
    text-align: center;
    background: var(--1-GRAY-400);
    margin-bottom: 12px;
}

.floor-title {
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    width: 100%;
    height: 24px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: var(--1-GRAY-0);
    text-align: center;
    background: var(--1-GRAY-300);
    margin-bottom: 20px;
}

.section-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}

.section-flex-gap {
    display: flex;
    justify-content: flex-start;
    gap: 22px;
}

.section-seat-num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-right: 7px;
    padding-top: 23px;
}

.seat-num {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: var(--1-GRAY-900);
    text-align: center;
}

.section-wrap{

}
.section-wrap .section-name {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: var(--1-GRAY-900);
    text-align: center;
    margin-bottom: 8px;
}
.section-wrap .seat {
    display: inline-block;
    min-width: 20px;
    width: 20px;
    min-height: 14px;
    height: 14px;
    background: var(--1-MAIN);
    cursor: pointer;
}

.section-wrap .seat input {
    display: none;
}

.section-wrap .seat:has(input:checked) {
    background: var(--1-GRAY-900) url("../../images/seat-checked.png") no-repeat center/100%;
}

.section-wrap .seat:has(input:disabled) {
    background: var(--1-GRAY-300);
}

.seats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    width: 100%;
    max-width: 116px;
}
.seats-big {
    max-width: 236px;
}
.selected-seats{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: var(--1-GRAY-900);
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid var(--1-GRAY-900);
}

/* 결제 수단 css */
.payment-info {
    color: #757575;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

.payment-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tab-button-container {
    border: 1px solid #BDBDBD;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.tab-button {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding : 15px;
    color : #757575;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
}

#tabBank {
    border-right: 1px solid #BDBDBD;
}

#tabEasy {
    border-left: 1px solid #BDBDBD;
}


.tab-button.active {
    background-color: #FF3B30;
    color: white;
    font-weight: bold;
}

.tab-result {
    display: none;
}

.tab-result.active {
    display: block;
}

.payment-bank,
.payment-card,
.payment-easy {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0;
    font-weight: 500;
}

.choice-payment {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    text-align: center;
}

.payment-list {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    border-top: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    cursor: pointer;
}

.payment-list:nth-child(-n+5) {
    border-top: none;
}

.payment-list:nth-child(5n) {
    border-right: none;
}

.payment-list img {
    max-width: 100px;
    max-height: 40px;
    object-fit: contain;
}

.payment-list-content {
    margin-top : 5px;
    color : #757575;
    font-size: 14px;
    line-height: 18px;
}

.check-ticketnow {
    background-color: #EEEEEE;
    margin-top: 30px;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
}

.ticketnow-info {
    display: flex;
    justify-content: left;
}

.ticketnow-title {
    color: #757575;
    width: 100px;
}

.pay-select {
    width: 300px;
    height: 30px;
    margin: 20px 0;
    padding-left: 10px;
    font-size: 14px;
    color: #212121;
    align-items: center;
    border: 1px solid #BDBDBD;
}

.pay-select-title {
    color : #212121;
}
.pay-select-choice {
    color: #616161;
}

.pay-select-choice:hover {
    color : #FD9620;
    background: none;
}

.payment-banner-title {
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
}

.payment-banner-content {
    padding: 3px 0;
}

.performance-tab-image {
    margin-top: 60px;
    width: 450px;
}

.performance-tab-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.date-area.has-performance .date {
    position: relative;
}

.date-area.has-performance .date::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 15px;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: #ff6600;
    border-radius: 50%;
}