.signup-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.container-title {
    padding-bottom: 50px;
    text-align: center;
}

form {
    width: 100%;
    max-width: 519px;
}

.input-label {
    margin-bottom: 6px;
}

.default-input {
    width: 100%;
}

.radio-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

.default-input-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

.duplicate-button {
    padding: 12px;
}

.signup-button {
    height: 60px;
    font-size: 18px;
    margin-top: 10px;
}

.first-tel {
    max-width: 78px;
}

.first-tel input {
    text-align: center;
}

.address-input-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.line-button {
    max-width: 97px;
    height: 48px;
}