<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ticketnow.performance.model.mapper.PerformanceMapper">

    <!-- 공연 전체 조회 -->
    <select id="getAllPerformance" resultType="Performance">
        SELECT performanceImagePath, performanceTitle, performanceId, performanceRanking
        FROM performance
    </select>

    <!-- 공연  카테고리 별 조회 -->
    <select id="getPerformanceByCategory" resultType="Performance">
        SELECT performanceImagePath, performanceTitle, performanceId, performanceRanking
        FROM performance
        WHERE performanceCategory = #{performanceCategory}
    </select>

    <!-- 통합 검색 -->
    <select id="searchTotalPerformance" resultType="Performance">
        SELECT p.performanceTitle, p.performanceImagePath, p.performanceId
        FROM performance p
        JOIN performancecastmember pc ON p.performanceId = pc.performanceId
        JOIN castmember c ON pc.castMemberId = c.castMemberId
        WHERE p.performanceCategory LIKE CONCAT('%', #{search}, '%')
        OR p.performanceTitle LIKE CONCAT('%', #{search}, '%')
        OR c.castMemberName LIKE CONCAT('%', #{search}, '%')
    </select>

    <!-- 키워드 검색 -->
    <select id="searchKeywordPerformance" resultType="Performance">
        SELECT performanceImagePath,
        performanceTitle
        FROM performance
        WHERE performanceCategory LIKE CONCAT('%', #{search}, '%')
    </select>

    <!-- 제목 검색 -->
    <select id="searchTitlePerformance" resultType="Performance">
        SELECT performanceImagePath, performanceTitle
        FROM performance
        WHERE performanceTItle LIKE CONCAT('%' ,#{search}, '%')
    </select>

    <!-- 출연자 검색 -->
    <select id="searchCastPerformance" resultType="Performance">
        SELECT p.performanceTitle, p.performanceImagePath
        FROM performance p
        JOIN performancecastmember pc ON p.performanceId = pc.performanceId
        JOIN castmember c ON pc.castMemberId = c.castMemberId
        WHERE c.castMemberName LIKE CONCAT('%' ,#{search}, '%')
    </select>

    <!-- 공연 상세 정보 조회 view 활용 -->
    <select id="getPerformanceDetail" resultType="PerformanceDetailViewDto">
        SELECT
            p.performanceId,
            p.performanceImagePath,
            p.performanceTitle,
            p.performanceCategory,
            p.performancePrice,
            p.performanceAddress,
            p.performanceInfo,
            p.performanceRanking,
            ps.performanceScheduleStartDate,
            ps.performanceScheduleStartTime
        FROM performance p
                 INNER JOIN performanceschedule ps
                            ON p.performanceId = ps.performanceId
        WHERE p.performanceId = #{performanceId}
    </select>

    <!-- 출연진 목록 조회 -->
    <select id="getCastMembers" resultType="CastMember">
        SELECT
            cm.castMemberId,
            cm.castMemberName,
            cm.castMemberImagePath
        FROM castmember cm
        INNER JOIN performancecastmember pcm
        ON cm.castMemberId = pcm.castMemberId
        WHERE pcm.performanceId = #{performanceId}
    </select>

    <select id="getSeatByPerformanceScheduleId" resultType="PerformanceScheduleSeatViewDto">
        SELECT
            performanceScheduleId,
            seatId,
            seatNumber,
            isReserved
        FROM PerformanceScheduleSeatViewDto
        WHERE performanceScheduleId = #{performanceScheduleId}
    </select>
</mapper>
