<!-- 모달 -->
<div id="findPwModal" class="modal hidden">
    <h3 class="modal-title">비밀번호 찾기 & 변경</h3>

    <form class="modal-form" id="findPwStep1">
        <div class="form-group">
            <div class="default-input-wrap">
                <label for="userPw" class="input-label">비밀번호<span class="essential">*</span></label>

                <div class="default-input password-view">
                    <input type="password" id="userPw" name="userPw" placeholder="비밀번호 입력" required>
                    <button type="button" class="password-view-button"></button>
                    <!-- class 추가로 버튼 아이콘 변경 -->
                    <button type="button" class="password-view-button password-off"></button>
                </div>

                <p class="input-validation input-validation-error">error code</p>
                <!--<p class="input-validation input-validation-success">success code</p>-->
            </div>
        </div>

        <div class="default-input-wrap">
            <p class="input-label">주민등록번호<span class="essential">*</span></p>

            <div class="default-input-flex">
                <div class="default-input">
                    <input type="text" id="ssn1" name="ssn1">
                </div>
                <span>-</span>
                <div class="default-input">
                    <input type="text" id="ssn2" name="ssn2">
                </div>
            </div>

            <p class="input-validation input-validation-error">error code</p>
            <!--<p class="input-validation input-validation-success">success code</p>-->
        </div>
    </form>

    <form class="modal-form" id="findPwStep2">
        <div class="form-group">
            <div class="default-input-wrap">
                <label for="userPw" class="input-label">변경 비밀번호<span class="essential">*</span></label>

                <div class="default-input password-view">
                    <input type="password" id="userPw" name="userPw" placeholder="변경 비밀번호 입력" required>
                    <button type="button" class="password-view-button"></button>
                    <!-- class 추가로 버튼 아이콘 변경 -->
                    <button type="button" class="password-view-button password-off"></button>
                </div>

                <p class="input-validation input-validation-error">error code</p>
                <!--<p class="input-validation input-validation-success">success code</p>-->
            </div>
        </div>

        <div class="form-group">
            <div class="default-input-wrap">
                <label for="checkUserPw" class="input-label">변경 비밀번호 확인<span class="essential">*</span></label>

                <label class="default-input password-view">
                    <input type="password" id="checkUserPw" name="checkUserPw" placeholder="변경 비밀번호 확인" required>
                    <button type="button" class="password-view-button"></button>
                    <!-- class 추가로 버튼 아이콘 변경 -->
                    <button type="button" class="password-view-button password-off"></button>
                </label>

                <p class="input-validation input-validation-error">error code</p>
                <!--<p class="input-validation input-validation-success">success code</p>-->
            </div>
        </div>
    </form>

    <!-- 버튼 -->
    <div class="modal-buttons">
        <button class="gray-button cancel-button">닫기</button>
        <button class="default-button" id="submitPwBtn">비밀번호 변경</button>
    </div>
</div>