<!-- 모달 -->
<div id="findIdModal" class="modal hidden">
    <h3 class="modal-title">이메일 찾기</h3>

    <form class="modal-form">
        <!-- 이름 입력 -->
        <div class="default-input-wrap">
            <label for="name" class="input-label">이름<span class="essential">*</span></label>

            <div class="default-input">
                <input type="text" id="name" name="name" placeholder="이름 입력">
            </div>

            <p class="input-validation"></p>
        </div>

        <!-- 주민번호 입력 -->
        <div class="default-input-wrap ssn-wrap">
            <p class="input-label">주민등록번호<span class="essential">*</span></p>

            <div class="default-input-flex">
                <div class="default-input">
                    <input type="text" id="ssn1" name="ssn1">
                </div>
                <span>-</span>
                <div class="default-input">
                    <input type="text" id="ssn2" name="ssn2">
                </div>
            </div>

            <p class="input-validation"></p>
        </div>
    </form>

    <div class="id-result">
        <!--
        <p class="id-result-text error">
            존재하지 않는 아이디입니다.
        </p>
        -->
        <p class="id-result-text">
            <span>test</span> 님의 아이디는<br>
            <span class="result-text-point">testEmail@email.com</span> 입니다.
        </p>
    </div>

    <!-- 버튼 -->
    <div class="modal-buttons">
        <button class="gray-button cancel-button">닫기</button>
        <button class="default-button" id="submitIdBtn">아이디 찾기</button>
    </div>
</div>