<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>로그인</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/pages/login.css">
        <link rel="stylesheet" href="/css/pages/loginModal.css">
    </head>
    <body>
        <th:block th:replace="~{header}"></th:block>

        <div class="body">
            <div class="login-container content-area">
                <h3 class="container-title">로그인</h3>

                <div th:if="${error}" class="error-message" th:text="${error}"></div>

                <form action="/api/user/login" method="post" id="loginForm">
                    <div class="form-group">
                        <label class="default-input">
                            <input type="email" id="userEmail" name="userEmail" placeholder="이메일 입력" required>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="default-input password-view">
                            <input type="password" id="userPw" name="userPw" placeholder="비밀번호 입력" required>
                            <button type="button" class="password-view-button"></button>
                            <!-- class 추가로 버튼 아이콘 변경 -->
                            <button type="button" class="password-view-button password-off"></button>
                        </label>
                    </div>

                    <button type="submit" class="default-button login-button">로그인</button>
                </form>

                <div class="login-find-line">
                    <button type="button" class="login-find-button font-right" id="findId">이메일 찾기</button>
                    <button type="button" class="login-find-button" id="findPassword">비밀번호 찾기</button>
                </div>

                <div class="login-signup-line">
                    <span class="signup-text">계정이 없으신가요?</span>
                    <button type="button" class="signup-button">회원가입</button>
                </div>
            </div>
        </div>

        <th:block th:replace="~{footer}"></th:block>
        <div class="modal-wrap">
            <!-- backdrop -->
            <div id="backdrop" class="backdrop hidden"></div>

            <th:block th:replace="~{pages/findId}"></th:block>
            <th:block th:replace="~{pages/findPassword}"></th:block>
        </div>
        <script src="/js/login.js"></script>
        <script src="/js/loginModal.js"></script>
    </body>
</html>