<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TicketNow - 마이페이지</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/pages/myPage.css"/>
</head>
<body>
<th:block th:replace="~{header}"></th:block>

<div class="body">
    <div class="content-area">
        <div class="myPage-container">

            <div class="tab-button-container">
                <div class="tab-button active" data-tab="userInfo">개인정보</div>
                <div class="tab-button" data-tab="reservationInfo">예매정보</div>
                <div class="tab-button" data-tab="gradeInfo">등급</div>
            </div>

            <div class="tab-content-container">
                <div class="tab-content active" id="userInfo">
                </div>

                <div class="tab-content" id="reservationInfo">
                    <div class="reservation-info-area"></div>
                    <div class="pagination" id="reservationPagination"></div>
                </div>

                <div class="tab-content" id="gradeInfo">
                    <div class="grade-info-area"></div>
                    <pre class="grade-description">
            [멤버십 등급 승급 안내]
                Bronze, Silver, Gold 등급은 누적 결제 금액에 따라 부여됩니다.
                    Bronze: 기본 등급
                    Silver: 50만원 이상
                    Gold: 100만원 이상
            [등급 반영 시점]
                매월 1~15일 결제 완료 시 다음달 1일 승급
                매월 16일~말일 결제 완료 시 다음달 16일 승급
                결제 후 승급 시점까지 멤버십 유지(정지/해지 없이) 되어야 승급이 확정됩니다.
                (’25년 10월 1일 기준 적용)
            [등급 변경 및 유지 조건]
                Bronze/Silver/Gold 등급 유지 중 비대상 요금제(무료 또는 일반)로 변경 시, 다음달 초에 등급 조정 및 혜택이 중단될 수 있습니다.
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{footer}"></th:block>
<script src="/js/myPage.js"></script>
</body>
</html>
