<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TicketNow - 메인페이지</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pages/performanceInfo.css">
</head>
<body>
<th:block th:replace="~{header}"></th:block>
<div class="body">

    <div class="performance-container">
        <div class="performance-header">
            <p class="performance-header-title"
               id="performanceHeaderTitle">공연명</p>
            <p class="performance-header-ranking"
               id="performanceHeaderCategory">콘서트 > 페스티벌 주간 순위 1위</p>
        </div>
        <div class="performance-info">
            <div class="performance-image" id="performanceBodyImage"></div>
            <div class="performance-info-detail">
                <div>
                    <div class="performance-info-detail-main">
                        <div class="performance-info-detail-title">
                            <p class="performance-info-detail-content">카테고리</p>
                            <p class="performance-info-detail-content"
                               id="performanceCategory"></p>
                        </div>
                        <div class="performance-info-detail-title">
                            <p class="performance-info-detail-content">공연명</p>
                            <p class="performance-info-detail-content"
                               id="performanceTitle"></p>
                        </div>
                        <div class="performance-info-detail-title">
                            <p class="performance-info-detail-content">장소</p>
                            <p class="performance-info-detail-content"
                               id="performanceAddress"></p>
                        </div>
                        <div class="performance-info-detail-title">
                            <p class="performance-info-detail-content">공연 날짜</p>
                            <p class="performance-info-detail-content"
                               id="performanceScheduleStartDate"></p>
                        </div>
                        <div class="performance-info-detail-title">
                            <p class="performance-info-detail-content">공연 시간</p>
                            <p class="performance-info-detail-content"
                               id="performanceScheduleStartTime"></p>
                        </div>
                        <div class="performance-info-detail-title">
                            <p class="performance-info-detail-content">가격</p>
                            <p class="performance-info-detail-content"
                               id="performancePrice"></p>
                        </div>
                        <div class="performance-info-detail-title">
                            <p class="performance-info-detail-content">공연 정보</p>
                            <p class="performance-info-detail-content"
                               id="performanceInfo"></p>
                        </div>
                    </div>
                    <div class="ticket-info">
                        <p class="ticket-info-title"> * 티켓 부스 오픈 및 공연 시작 : 추후 공개되는 타임테이블에 안내</p>
                        <p class="ticket-info-content">취소일자에 따라서 아래와 같이 취소수수료가 부과됩니다.</p>
                        <p class="ticket-info-content">예매 일 기준보다 관람일 기준이 우선 적용됩니다.</p>
                        <p class="ticket-info-content">단, 예매 당일 밤 12시 이전 취소 시에는 취소수수료가 없으며, 예매 수수료도 환불됩니다.</p>
                        <p class="ticket-info-content">(취소기한 내에 한함)</p>
                    </div>
                    <div class="performance-info-caster">
                        <p class="performance-info-caster-data">출연자 정보</p>
                        <p class="performance-info-caster-data">하단 상세보기 참고</p>
                    </div>
                </div>
                <button type="button" id="reservationBtn">예매하기</button>
            </div>
        </div>
        <div class="performance-check-btn-box">
            <button id="detailInfo">상세 보기</button>
        </div>
        <div class="performance-check-info">
            <div class="performance-check-info-top">
                <p class="performance-check-info-top-content">상세 정보</p>
            </div>
            <div class="performance-check-info-detail">
                <div class="performance-check-info-note">
                    <div class="performance-check-info-note-main">
                    <p class="performance-check-info-note-main-content">유의사항</p>
                    <p class="performance-check-info-note-main-content">* 본 공연은 등급 별 쿠폰이 적용됩니다.</p>
                    <p class="performance-check-info-note-main-content">* 원활한 예매 진행을 위하여 무통장 입금 결제만 가능합니다.</p>
                    <p class="performance-check-info-note-main-content">* 글로벌 페이지 오픈 준비 및 예약 관리로 인해 공연 당일에 취소가 불가합니다.</p>
                    </div>
                    <div class="performance-check-info-note-import">
                    <p class="performance-check-info-note-import-content">* 공연 예메 전 반드시 팝업 차단을 해제해 주세요.</p>
                    <p class="performance-check-info-note-import-content">* 지원이 중단 된 IE(Internet Explorer) 브라우저 또는 다수의 브라우저로 동시 예매 진행 시 원할하지 않을 수 있습니다.</p>
                    </div>
                </div>
                <!-- 상세보기 공연 제목 -->
                <div class="performance-check-info-title"
                    id="performanceCheckInfoTitle"></div>
                <div class="performance-check-info-title-content"
                    id="performanceCheckInfoTitleContent"></div>
                <!-- 상세보기 출안자 장보 -->
                <div class="performance-check-info-casting">
                    <p class="performance-check-info-casting-title">출연자 정보</p>
                    <div class="performance-check-info-casting-member"
                        id="performanceCheckInfoCastingMember">
                    </div>
                </div>
                <!-- 상세보기 공연장 위치 -->
                <div class="performance-check-info-map">
                    <p class="performance-check-info-map-title">공연장 위치</p>
                    <div class="performance-check-info-map-detail"
                        id="performanceCheckInfoMapDetail"></div>

                    <div id="map"></div>
                    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=a3b54fc3e9edec36f043d2eaf2622b17&libraries=services"></script>

                </div>
            </div>
        </div>
    </div>


</div>
<th:block th:replace="~{footer}"></th:block>
<script src="/js/performanceInfo.js"></script>

</body>
</html>