<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TicketNow - 예매페이지</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/pages/reservation.css">
</head>
<body>
<div class="body">
    <div class="reservation-container">
        <div class="tab-content active" id="tabReservationInfo" data-tab="info">
            <div class="date-wrap">
                <div class="info">
                    <span>STEP1</span>날짜 선택
                </div>
                <div class="calendar">
                    <div class="calendar-header">
                        <button class="calendar-header-prev" id="calendarPrev"></button>
                        <div id="monthYear"></div>
                        <button class="calendar-header-next" id="calendarNext"></button>
                    </div>
                    <div class="calendar-body">
                        <div class="days">
                            <div class="day">일</div>
                            <div class="day">월</div>
                            <div class="day">화</div>
                            <div class="day">수</div>
                            <div class="day">목</div>
                            <div class="day">금</div>
                            <div class="day">토</div>
                        </div>
                        <div class="dates" id="dates"></div>
                    </div>
                </div>
                <div class="info">
                    <span>STEP12</span>시간 선택
                </div>
                <div class="choice-date" style="display: none">
                    <div>
                    <span class="info-time" id="infoTime">21:00</span>
                    </div>
                    <p class="info-caster" id="infoCaster"></p>
                </div>
            </div>
        </div>
        <div class="tab-content" id="tabSeatInfo" data-tab="seat"></div>
        <div class="tab-content" id="tabPrice" data-tab="price">
            <!-- 탭 안에 탭을 만들어야함 -->
        </div>
        <div class="tab-content" id="tabFinal" data-tab="price"></div>


        <div class="reservation-info" id="reservationInfo">
            <div class="performance-info">
                <div class="performance-info-img"
                    id="performanceImage">이미지</div>
                <div class="performance-info-content">
                    <p class="performance-info-content-title"
                        id="performanceTitle">제목</p>
                    <p class="performance-info-content-text"
                        id="performanceDate">날짜</p>
                    <p class="performance-info-content-text"
                        id="performanceAddress">장소</p>
                </div>
            </div>
            <div class="reservation-detail">
                <span class="reservation-choice">선택내역</span>
                <div class="reservation-choice-detail">
                    <p class="reservation-choice-detail-title">날짜</p>
                    <p class="reservation-choice-detail-content"></p>
                </div>
                <div class="reservation-choice-detail">
                    <p class="reservation-choice-detail-title">시간</p>
                    <p class="reservation-choice-detail-content"></p>
                </div>
                <div class="reservation-choice-detail">
                    <p class="reservation-choice-detail-title">매수</p>
                    <p class="reservation-choice-detail-content"></p>
                </div>
                <div class="reservation-choice-detail">
                    <p class="reservation-choice-detail-title">좌석</p>
                    <p class="reservation-choice-detail-content"></p>
                </div>
            </div>
            <div class="reservation-price">
                <span class="reservation-price-title">결제내역</span>
                <div class="reservation-price-detail">
                    <p class="reservation-price-detail-title">티켓금액</p>
                    <p class="reservation-price-detail-content"></p>
                </div>
                <div class="reservation-price-detail">
                    <p class="reservation-price-detail-title">애매수수료</p>
                    <p class="reservation-price-detail-content"></p>
                </div>
                <div class="reservation-price-detail">
                    <p class="reservation-price-detail-title">배송료</p>
                    <p class="reservation-price-detail-content"></p>
                </div>
                <div class="reservation-price-detail">
                    <p class="reservation-price-detail-title">총 금액(+)</p>
                    <p class="reservation-price-detail-content"></p>
                </div>
            </div>
            <div class="final-price">
                <div class="final-price-detail">
                    <p class="final-price-money">최종 결제금액</p>
                    <p class="final-price-money">원</p>
                </div>
            </div>
            <div class="choice-btn">
                <button type="button" class="prev-btn">이전단계</button>
                <button type="button" class="next-btn">다음단계</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/reservation.js"></script>
</html>