<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TicketNow - 예매페이지</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/pages/reservation.css">
</head>
<body>
<div class="body">
    <div class="reservation-container">
        <div class="tab-content active" id="tabReservationInfo" data-tab="info">
            <div class="date-wrap">
                <div class="info">
                    <span>STEP1</span>날짜 선택
                </div>
                <div class="calendar">
                    <div class="calendar-header">
                        <button class="calendar-header-prev" id="calendarPrev"></button>
                        <div id="monthYear"></div>
                        <button class="calendar-header-next" id="calendarNext"></button>
                    </div>
                    <div class="calendar-body">
                        <div class="days">
                            <div class="day">일</div>
                            <div class="day">월</div>
                            <div class="day">화</div>
                            <div class="day">수</div>
                            <div class="day">목</div>
                            <div class="day">금</div>
                            <div class="day">토</div>
                        </div>
                        <div class="dates" id="dates"></div>
                    </div>
                </div>
                <div class="info">
                    <span>STEP12</span>시간 선택
                </div>
                <div class="choice-date" style="display: none">
                    <div>
                        <span class="info-time" id="infoTime"></span>
                    </div>
                    <p class="info-caster" id="infoCaster"></p>
                </div>
            </div>
        </div>
        <div class="tab-content" id="tabSeatInfo" data-tab="seat">
            <div class="date-wrap">
                <div class="info">
                    <span>STEP3</span>좌석선택
                </div>
                <div class="stage-wrap">
                    <div class="stage-title">STAGE</div>
                    <!-- 1층 -->
                    <div class="floor-title">1F</div>
                    <div class="section-flex">
                        <div class="section-seat-num">
                            <p class="seat-num">1~5</p>
                            <p class="seat-num">6~10</p>
                            <p class="seat-num">11~15</p>
                            <p class="seat-num">16~20</p>

                        </div>
                        <div class="section-flex-gap">
                            <div class="section-wrap" data-section="A">
                                <div class="section-name">A</div>
                                <div class="seats" style="grid-template-columns: repeat(8, 20px);" id="A"></div>
                            </div>
                            <div class="section-wrap" data-section="B">
                                <div class="section-name">B</div>
                                <div class="seats seats-big" style="grid-template-columns: repeat(8, 20px);" id="B"></div>
                            </div>
                            <div class="section-wrap" data-section="C">
                                <div class="section-name">C</div>
                                <div class="seats" style="grid-template-columns: repeat(8, 20px);" id="C"></div>
                            </div>
                            <div class="section-wrap" data-section="D">
                                <div class="section-name">D</div>
                                <div class="seats" style="grid-template-columns: repeat(8, 20px);" id="D"></div>
                            </div>
                        </div>
                    </div>
                    <!-- 2층 -->
                    <div class="floor-title">2F</div>
                    <div class="section-flex">
                        <div class="section-seat-num">
                            <p class="seat-num">1~5</p>
                            <p class="seat-num">6~10</p>
                            <p class="seat-num">11~15</p>
                            <p class="seat-num">16~20</p>

                        </div>
                        <div class="section-flex-gap">
                            <div class="section-wrap" data-section="E">
                                <div class="section-name">E</div>
                                <div class="seats" style="grid-template-columns: repeat(8, 20px);" id="E"></div>
                            </div>
                            <div class="section-wrap" data-section="F">
                                <div class="section-name">F</div>
                                <div class="seats seats-big" style="grid-template-columns: repeat(8, 20px);" id="F"></div>
                            </div>
                            <div class="section-wrap" data-section="G">
                                <div class="section-name">G</div>
                                <div class="seats" style="grid-template-columns: repeat(8, 20px);" id="G"></div>
                            </div>
                            <div class="section-wrap" data-section="H">
                                <div class="section-name">H</div>
                                <div class="seats" style="grid-template-columns: repeat(8, 20px);" id="H"></div>
                            </div>
                        </div>
                    </div>
                    <div class="selected-seats" id="selectedSeats">좌석을 선택해주세요.</div>
                </div>

            </div>
        </div>
        <div class="tab-content" id="tabPrice" data-tab="price">
            <div class="date-wrap">
                <div class="info">
                    <span>STEP4</span>결제
                </div>
                <div class="payment-info">
                    <p>해당 사이트는 결제 기능이 없는 사이트로 단순 보여주는 용도의 페이지입니다.</p>
                </div>
                <p class="payment-title">결제 수단</p>
                <div class="tab-button-container">
                    <div class="tab-button active" id="tabBank" data-tab="bank">무통장</div>
                    <div class="tab-button" id="tabCard" data-tab="card">신용카드</div>
                    <div class="tab-button" id="tabEasy" data-tab="easy">간편결제</div>
                </div>
                <div class="tab-result-container">
                    <div class="tab-result active" id="bank">
                        <p class="payment-bank">입금하실 은행을 선택해주세요.</p>
                        <div class="choice-payment">
                            <div class="payment-list">
                                <img src="/images/nonghyupbank.png" alt="nonghyupbank"/>
                                <p class="payment-list-content">농협(중앙)</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/kbbank.png" alt="kbbank"/>
                                <p class="payment-list-content">국민은행</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/wooribank.png" alt="wooribank"/>
                                <p class="payment-list-content">우리은행</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/ibkbank.png" alt="ibkbank"/>
                                <p class="payment-list-content">기업은행</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/citibank.png" alt="citibank"/>
                                <p class="payment-list-content">씨티은행</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/shinhanbank.png" alt="shinhanbank"/>
                                <p class="payment-list-content">신한은행</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/hanabank.png" alt="hanabank"/>
                                <p class="payment-list-content">하나은행</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/scbank.png" alt="scbank"/>
                                <p class="payment-list-content">SC 제일은행</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/tossbank.png" alt="tossbank"/>
                                <p class="payment-list-content">토스뱅크</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/kakaobank.png" alt="kakaobank"/>
                                <p class="payment-list-content">카카오뱅크</p>
                            </div>
                        </div>
                        <div class="check-ticketnow">
                            <div class="ticketnow-info">
                                <p class="ticketnow-title">예금주</p>
                                <p class="ticketnow-content">티켓나우</p>
                            </div>
                            <div class="ticketnow-info">
                                <p class="ticketnow-title">입금기한</p>
                                <div class="ticketnow-content" id="paymentTimeLimit">2025-10-22(수)23시 59분</div>
                            </div>
                        </div>
                        <div class="payment-banner-title">
                            <p class="payment-banner-content">은행에 따라 23시 30분 이후 온라인 입금이 제한될 수 있습니다.</p>
                            <p class="payment-banner-content">ATM기기로는 가상계좌입금이 불가할 수 있습니다.</p>
                        </div>
                    </div>
                    <div class="tab-result" id="card">
                        <p class="payment-card">결제하실 카드사를 선택해주세요.</p>
                        <div class="choice-payment">
                            <div class="payment-list">
                                <img src="/images/kbbank.png" alt="kbcard"/>
                                <p class="payment-list-content">국민</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/bccard.png" alt="bccard"/>
                                <p class="payment-list-content">비씨</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/wooribank.png" alt="wooricard"/>
                                <p class="payment-list-content">우리</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/samsungcard.png" alt="samsungcard"/>
                                <p class="payment-list-content">삼성</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/hyundaicard.png" alt="hyundaicard"/>
                                <p class="payment-list-content">현대</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/shinhanbank.png" alt="shinhancard"/>
                                <p class="payment-list-content">신한</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/lottecard.png" alt="lottecard"/>
                                <p class="payment-list-content">롯데</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/citibank.png" alt="citicard"/>
                                <p class="payment-list-content">씨티</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/hanabank.png" alt="hanacard"/>
                                <p class="payment-list-content">하나은행</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/nonghyupbank.png" alt="nonghyupcard"/>
                                <p class="payment-list-content">NK</p>
                            </div>
                        </div>
                        <div>
                            <label>
                                <select class="pay-select" name="pay">
                                    <option class="pay-select-title">일시불</option>
                                    <option class="pay-select-choice">1개월</option>
                                    <option class="pay-select-choice">2개월</option>
                                    <option class="pay-select-choice">3개월</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="tab-result" id="easy">
                        <p class="payment-easy">간편결제를 선택해주세요.</p>
                        <div class="choice-payment">
                            <div class="payment-list">
                                <img src="/images/kbbank.png" alt="kbpay"/>
                                <p class="payment-list-content">KB pay</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/kakaopay.png" alt="kakaopay"/>
                                <p class="payment-list-content">카카오페이</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/naverpay.png" alt="naverpay"/>
                                <p class="payment-list-content">네이버</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/paycopay.png" alt="paycopay"/>
                                <p class="payment-list-content">페이코</p>
                            </div>
                            <div class="payment-list">
                                <img src="/images/tosspay.png" alt="tosspay"/>
                                <p class="payment-list-content">토스페이</p>
                            </div>
                        </div>
                        <div class="payment-banner-title">
                            <p class="payment-banner-content">100만원 이상 결제 시 추가 인증이 필요합니다.</p>
                            <p class="payment-banner-content">등록된 카드의 서비스 및 제휴 혜택이 지원되지 않습니다.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-content" id="tabFinal" data-tab="final">
            <div class="performance-tab-image" id="performanceTabImage">이미지</div>
        </div>


        <div class="reservation-info" id="reservationInfo">
            <div class="performance-info">
                <div class="performance-info-img"
                     id="performanceImage">이미지</div>
                <div class="performance-info-content">
                    <p class="performance-info-content-title"
                       id="performanceTitle">제목</p>
                    <p class="performance-info-content-text"
                       id="performanceDate">날짜</p>
                    <p class="performance-info-content-text"
                       id="performanceAddress">장소</p>
                </div>
            </div>
            <div class="reservation-detail">
                <span class="reservation-choice">선택내역</span>
                <div class="reservation-choice-detail">
                    <p class="reservation-choice-detail-title">날짜</p>
                    <p class="reservation-choice-detail-content"
                       id="reservationDate"></p>
                </div>
                <div class="reservation-choice-detail">
                    <p class="reservation-choice-detail-title">시간</p>
                    <p class="reservation-choice-detail-content"
                       id="reservationTime"></p>
                </div>
                <div class="reservation-choice-detail">
                    <p class="reservation-choice-detail-title">매수</p>
                    <p class="reservation-choice-detail-content"
                       id="reservationSeatLength"></p>
                </div>
                <div class="reservation-choice-detail">
                    <p class="reservation-choice-detail-title">좌석</p>
                    <p class="reservation-choice-detail-content"
                       id="reservationSeat"></p>
                </div>
            </div>
            <div class="reservation-price">
                <span class="reservation-price-title">결제내역</span>
                <div class="reservation-price-detail">
                    <p class="reservation-price-detail-title">티켓금액</p>
                    <p class="reservation-price-detail-content"
                        id="reservationPrice"></p>
                </div>
                <div class="reservation-price-detail">
                    <p class="reservation-price-detail-title">애매수수료</p>
                    <p class="reservation-price-detail-content"
                        id="reservationCharge"></p>
                </div>
                <div class="reservation-price-detail">
                    <p class="reservation-price-detail-title">배송료</p>
                    <p class="reservation-price-detail-content"
                        id="reservationDelivery"></p>
                </div>
                <div class="reservation-price-detail">
                    <p class="reservation-price-detail-title">총 금액(+)</p>
                    <p class="reservation-price-detail-content"
                        id="reservationTotalPrice"></p>
                </div>
            </div>
            <div class="final-price">
                <div class="final-price-detail">
                    <p class="final-price-money">최종 결제금액</p>
                    <p class="final-price-money"
                        id="finalPrice">원</p>
                </div>
            </div>
            <div class="choice-btn">
                <button type="button" class="prev-btn" id="prevBtn">닫기</button>
                <button type="button" class="next-btn" id="nextBtn">다음단계</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/reservation.js"></script>
</html>