<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TicketNow - 메인페이지</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pages/search.css" />
</head>
<body>
<th:block th:replace="~{header}"></th:block>
<div class="body">
    <div class="search-container category-section">
        <h3 class="container-title">
            {검색 내용} 검색 결과
        </h3>
        <!-- 임시로 인기순, js 적용 전 -->
        <div class="performance-list" id="popularList"></div>
    </div>
</div>
<th:block th:replace="~{footer}"></th:block>
<script src="/js/index.js"></script> <!-- 임시 -->
</body>
</html>
