<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TicketNow - 검색 결과</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pages/search.css" />
</head>
<body>
<th:block th:replace="~{header}"></th:block>
<div class="body">
    <div class="search-container category-section">
        <h3 class="container-title" id="searchTitle">
            <span class="searchTypeSpan"></span> {검색 내용} 검색 결과
        </h3>
        <div class="performance-list" id="popularList"></div>
    </div>
</div>
<th:block th:replace="~{footer}"></th:block>
<script src="/js/search.js"></script>
</body>
</html>
