body {
    min-width: 1200px;
}
.body{
    min-height: calc(100vh - 136px - 201px);
    display: flex;
    justify-content: center;
}

.content-area {
    min-width: 1200px;
}

input{
    caret-color: var(--1-MAIN);
}