<header class="element-header">
    <div class="menu-top">
        <nav class="menu-top-nav" >
            <a href="#">로그인</a>
            <a href="#">마이페이지</a>
        </nav>
    </div>
    <div class="menu-bar">
        <div class="menu-left">
            <a href="#" class="logo"><img class="logo-icon" src="/images/logo.png"/></a>
            <nav class="nav-bar">
                <a href="#">전체</a>
                <a href="#">콘서트</a>
                <a href="#">뮤지컬</a>
                <a href="#">연극</a>
                <a href="#">클래식</a>
            </nav>
        </div>
        <div class="search-bar">
            <div class="search-select">
                <button type="button" class="select-button">통합검색</button>
                <ul class="search-select-list">
                    <li>
                        <button type="button">
                            <!--all-->
                            통합검색
                        </button>
                    </li>
                    <li>
                        <button type="button">
                            <!--category-->
                            카테고리
                        </button>
                    </li>
                    <li>
                        <button type="button">
                            <!--title-->
                            제목
                        </button>
                    </li>
                    <li>
                        <button type="button">
                            <!--cast-->
                            출연자
                        </button>
                    </li>
                </ul>
            </div>
            <input type="search" id="site-search" class="search-input"></input>
            <button type="button" class="search-icon-button">
                <img class="search-icon" src="/images/search-icon.png"/>
            </button>
        </div>
    </div>
</header>
