<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TicketNow - 메인페이지</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pages/index.css" />
</head>
<body>
<th:block th:replace="~{header}"></th:block>
<div class="body">
    <div class="main-container">
        <div class="main-banner-wrap">
            <div class="main-banner">
                <div class="main-banner-item">
                    <p class="main-banner-item-title">제목</p>
                </div>
            </div>

            <button type="button" class="main-banner-arrow" id="prevBtn"></button>

            <button type="button" class="main-banner-arrow" id="nextBtn"></button>
        </div>
        <div class="popular-section">
            <h3 class="container-title">
                인기 {카테고리명}
            </h3>
            <div class="popular-list" id="popularList"></div>
        </div>

        <div class="popular-section">
            <h3 class="container-title">
                최신 {카테고리명}
            </h3>
            <div class="popular-list" id="recentList"></div>
        </div>


        <!-- TODO 공통영역 html -->
        <!--
        <div class="content-area">
            <label class="default-input">
                <input type="text" placeholder="이메일 입력">
            </label>
            <br><br>
            <label class="default-input password-view">
                <input type="text" placeholder="비밀번호 입력">
                <button type="button" class="password-view-button"></button>
                 class 추가로 버튼 아이콘 변경
                <button type="button" class="password-view-button password-off"></button>
            </label>
            <br><br>
            <div class="default-input-wrap">
                <label for="email" class="input-label">이메일 <span class="essential">*</span></label>

                <div class="default-input">
                    <input type="text" id="email" placeholder="이메일 입력">
                </div>
                <p class="input-validation input-validation-error">error code</p>
            </div>
            <div class="default-input-wrap">
                <label for="name" class="input-label">이름 <span class="essential">*</span></label>

                <div class="default-input">
                    <input type="text" id="name" placeholder="이름 입력">
                </div>
                <p class="input-validation input-validation-success">success code</p>
            </div>
            <br><br>
            <button type="button" class="default-button">공통버튼</button>
            <br><br>
            <button type="button" class="gray-button">회색버튼</button>
            <br><br>
            <button type="button" class="line-button">라인버튼</button>
            <br><br>
            <h3 class="container-title">
                타이틀 영역
            </h3>
            <br>
            NOTE 아래 태그 변경해도 상관없습니다!
            <p class="step-title">
                <span class="step-red">STEP1</span>날짜 선택
            </p>

             라디오
            <div class="radio-list">
                <div class="radio-item">
                    <input type="radio" id="male" name="gender" value="m" class="radio-input">
                    <label for="male" class="radio-label">남성</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="female" name="gender" value="f" class="radio-input">
                    <label for="female" class="radio-label">여성</label>
                </div>
            </div>
        </div>-->
    </div>
</div>
<th:block th:replace="~{footer}"></th:block>
<script src="/js/index.js"></script>
</body>
</html>
