<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta property="og:image" content="/images/share-image.png" />
        <meta property="og:title" content="TicketNow" />
        <meta
                property="og:description"
                content="티켓 예매 사이트 'TicketNow'입니다."
        />
        <title>TicketNow - 메인페이지</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/pages/index.css" />
        <link rel="icon" type="image/png" href="images/favicon.png" />
    </head>
    <body>
        <th:block th:replace="~{header}"></th:block>
        <div class="body">
            <div class="main-container">
                <div class="main-banner-wrap">
                    <div class="main-banner">
                        <div class="main-banner-item">
                            <p class="main-banner-item-title"></p>
                        </div>
                    </div>

                    <button type="button" class="main-banner-arrow" id="prevBtn"></button>

                    <button type="button" class="main-banner-arrow" id="nextBtn"></button>
                </div>
                <div class="category-section">
                    <h3 class="container-title">

                    </h3>
                    <div class="performance-list" id="popularList"></div>
                </div>

                <div class="category-section">
                    <h3 class="container-title">

                    </h3>
                    <div class="performance-list" id="recentList"></div>
                </div>
            </div>
        </div>
        <th:block th:replace="~{footer}"></th:block>
        <script src="/js/index.js"></script>
    </body>
</html>
